@model Common.Model.RegisterModel



<div class="main-container">
    <div class="left-content">
        <img src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3Afd1a0f72-85bb-467c-9057-6bfc4d749b25&params=version%3A0&token=1695026401_da39a3ee_d5cea43ee81ff5dd60d5cca878bc54920d4a550a&api_key=CometServer1"
             alt="" />
        <h1>ONLINE BOOK SHOPPING</h1>
    </div>
    <div class="right-content">
      <form asp-action="Index">
        <div class="right-form">
            <div class="sign">
                <div class="text">LOGIN</div>
                <div class="text">SIGNUP</div>
            </div>
            <div class="full-name">
                <label for="name">FirstName</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
                <div class="full-name">
                    <label for="name">LastName</label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            <div class="other-name">
                    <label for="email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="other-name">
                    <label for="password">Password</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="btn">
                    <button type="submit" asp-action="index" >SignUp</button>
            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}