@model Common.Model.RegisterModel



<div class="main-container">
    <div class="left-content d-sm-none d-md-block">
         <img src="~/images/2766594@2x.png" />
        <h1>ONLINE BOOK SHOPPING</h1>
    </div>
    <div class="right-content">
        <form asp-action="Index">
            <div class="right-form">
                <div class="sign">
                    <div class="text active">
                        <a href="login">Login</a>
                    </div>
                    <div class="text ">
                        <a href="SignUp" style="color:#878787">SIGNUP</a>
                    </div>
                </div>
                <div class="full-name">
                    <label for="email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="full-name">
                    <label for="password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="submitbtn">
                    <button class="sbtn" type="submit" asp-action="index">SignUp</button>
                </div>
                 <div class="ORTag">
                    <p>OR</p>
                </div>
                <div class="thirdpary">
                    <button class="fbbtn" type="button" >Facebook</button>
                    <div class="space"></div>
                    <button class="gbtn" type="button" >Google</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
