

.main-container {
    display: flex;
    position:fixed;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 120vh;
    overflow: auto;
    left:0px;
    top:0px;

    width:205vh
}

.left-content {
    width: 624px;
    height: 391px;
    top: 60px;
    left:380px;
    margin-top: 150px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    position: fixed;
    overflow: auto;
}

    .left-content img {
        margin-top: 55px;
        margin-left: 53px;
        width: 220px;
        height: 210px;
        border-radius: 50%;
        opacity: 1;
    }

h1 {
    font-size: 20px;
    font-family: Roboto;
    padding-left: 35px;
    padding-top: 30px;
}

.right-content {
    width: 389px;
    height: 425px;
    top: 195px;
    left: 130px;
    margin: 0px 0px 0px 0px;
    background-color: #808080;
    background-color: rgba(0,0,0,0.4);
    /*margin-left: 50vh;*/
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.signUpMode {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}





.text {
    position: relative;
    font-size: 25px;
    font-family: Roboto;
    letter-spacing: 0px;
    font-weight: 500;
    color: #0a0102;
    text-transform: uppercase;
    opacity: 1;
}

    .text a {
        text-decoration: none;
        color: black;
    }

.full-name {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

    .full-name label {
        font-size: 13px;
        text-align: left;
        font-family: Roboto;
        letter-spacing: 0px;
        color: #0a0102;
        text-transform: capitalize;
        opacity: 1;
        margin:0px 0px 0px 0px;
    }

    .full-name input {
        padding: 10px 30px 10px 30px;
        border-radius: 3px;
    }

.other-name {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.submitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/*.sbtn {
    background: #a03037 0% 0% no-repeat padding-box !important;
    color: #f5f5f5;
    border-radius: 3px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    border: none;
    opacity: 1;
}*/

.thirdpary {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.fbbtn {
    background: #4266B2 0% 0% no-repeat padding-box;
    color:white;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    padding: 5px 24px 5px 24px;
    cursor: pointer;
    border: none;
    opacity: 1;
    margin-right: 30px;
}

.space{
    display:flex;
  
}

.gbtn {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    color: black;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    padding: 5px 24px 5px 24px;
    cursor: pointer;
    border: none;
    opacity: 1;
}
