@model Common.Model.BookModel

@{
    ViewData["Title"] = "BookDetails";
}
<div class="detailhead">
    <a class="detailPrvTab" href="index">Home</a>
    <p>/</p>
    <a class="detailCurrTab" href="BookDetails">Book</a>
</div>
<div class="DetailMain">

   <div class="detailImageBox">
        <div class="sideIMGSamleFirt">
            <img src="/images/@Model.Images" />
        </div>
        <div class="sideIMGSamleSec">
            <img src="/images/@Model.Images" />
        </div>
   </div>

    <div class="detailLeft">
        <div class="detailImg"><img src="/images/@Model.Images" /></div>
        <a href="/Cart/AddToCart?BookId=@Model.BookId" class="detailNotify">Add to Bag</a>
        <a href="/Wishlist/AddToWishlist?BookId=@Model.BookId" class="detailWishlist"><i class="fa fa-heart" style="font-size:15px"></i>Wishlist</a>
    </div>
    <div class="detailright">
        <div class="detailcontent">
            <span>
                <p class="detailbooktitle">@Model.BookName</p>
                <p class="detailbookauth">by @Model.Author</p>
                <div class="detailbookrating">
                    <p>4.5</p>
                    <i class="fa fa-star" style="font-size:8px;color:#fff"></i>
                </div>
                <p class="detailbookprice">Rs.&nbsp @Model.Price</p>
            </span>

        </div>
        <hr>
        <div class="detailBookDetail">
            <p class="detailBookDetailhead">Book Detail</p>
            <p class="detailBookDetailcont">@Model.Details</p>
        </div>
        <hr>
        <div class="detailCustomerFeed">
            <p class="detailCustomerFeedHed" >Customer Feedback</p>
            <div class="detailreviewCont">
                <p>Overall rating</p>
                <div class="detailsRatingStar">
                    <i class="fa fa-star" style="font-size:19px;color:yellow"></i>
                    <i class="fa fa-star" style="font-size:19px;color:yellow"></i>
                    <i class="fa fa-star" style="font-size:19px;color:yellow"></i>
                    <i class="fa fa-star" style="font-size:19px;color:yellow"></i>
                    <i class="fa fa-star" style="font-size:19px;color:yellow"></i>
                </div>
                <input type="text" class="detailReviwInput" placeholder="write your review" />
                <button>Submit</button>
            </div>
        </div>
      
    </div>


</div>